__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
wheels/
*.egg-info/
htmlcov/
.nox/
.venv/
venv/
env/
test-results/
traces/
playwright-report/
.pytest_cache/
.coverage
allure-results/
allure-report/
.DS_Store
.vscode/
.idea/
*.iml